# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.
Objectives:
- List popular languages for Data Science
- List useful open development environment tools
- Quick exercise on Python calculation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2 for R
2. NumPy for Python
3. Pandas for Python
4. Matplotlib for Python
5. Apache Spark for Python

|Data Science Tools|
-----------------
|Jupyter lab|
|VS code|
|R studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Chin Teng